@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(250, 250, 250);
    font-family: "Poppins", sans-serif;
}

h1, h2,p{
    margin: 0px;
    padding: 0px;
}

img{
    width: 60px;
    display: block;
    padding-top: 20px;
}

.header{
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}

.header h1{
    font-weight: 600;
}

.container{
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin: 15px;
    width: 350px;
    padding: 30px;
}

.box::after{
    content: '';
    position: absolute;
    height: 7px;
    width: 100%;
    top: 0;
    left: 0;
}

.box-cyan::after{
    background-color: rgb(69, 211, 211);
}

.box-red::after{
    background-color: rgb(234, 83, 83);
}

.box-blue::after{
    background-color: rgb(84, 158, 242);
}

.box-orange::after{
    background-color: rgb(252, 175, 74);
}

.box-push{
    transform: translateY(50%);
}

.box-p{
    font-size: 14px;
    margin: 15px 0 10px;
}

.box img{
    margin-left: auto;
}

@media (max-width: 775px){
    .box-push{
        transform: translateY(0);
    }
}